.container {
    width: 70%;
    margin-left: 15%;
}

.main-pg {
    font-size: 2rem;
}

.flex {
    background: rgb(241, 250, 249);
    display: flex;
}
.completed {
    text-decoration: line-through;
    color: green;
}

.left-col {
    width: 50%;
    color: blue;
}

.right-col {
    width: 50%;
    color: purple;
}